ConsoleTest/bin/Debug/net5.0/ConsoleTest
ConsoleTest/bin/Debug/net5.0/ConsoleTest.deps.json
ConsoleTest/bin/Debug/net5.0/ConsoleTest.dll
ConsoleTest/bin/Debug/net5.0/ConsoleTest.pdb
ConsoleTest/bin/Debug/net5.0/ConsoleTest.runtimeconfig.dev.json
ConsoleTest/bin/Debug/net5.0/ConsoleTest.runtimeconfig.json
ConsoleTest/bin/Debug/net5.0/MyCollections.dll
ConsoleTest/bin/Debug/net5.0/MyCollections.pdb
ConsoleTest/bin/Debug/net5.0/ref/ConsoleTest.dll
ConsoleTest/obj/ConsoleTest.csproj.nuget.dgspec.json
ConsoleTest/obj/ConsoleTest.csproj.nuget.g.props
ConsoleTest/obj/ConsoleTest.csproj.nuget.g.targets
ConsoleTest/obj/project.assets.json
ConsoleTest/obj/project.nuget.cache
ConsoleTest/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ConsoleTest/obj/Debug/net5.0/apphost
ConsoleTest/obj/Debug/net5.0/ConsoleTest.AssemblyInfo.cs
ConsoleTest/obj/Debug/net5.0/ConsoleTest.AssemblyInfoInputs.cache
ConsoleTest/obj/Debug/net5.0/ConsoleTest.assets.cache
ConsoleTest/obj/Debug/net5.0/ConsoleTest.csproj.AssemblyReference.cache
ConsoleTest/obj/Debug/net5.0/ConsoleTest.csproj.CopyComplete
ConsoleTest/obj/Debug/net5.0/ConsoleTest.csproj.CoreCompileInputs.cache
ConsoleTest/obj/Debug/net5.0/ConsoleTest.csproj.FileListAbsolute.txt
ConsoleTest/obj/Debug/net5.0/ConsoleTest.csprojAssemblyReference.cache
ConsoleTest/obj/Debug/net5.0/ConsoleTest.dll
ConsoleTest/obj/Debug/net5.0/ConsoleTest.GeneratedMSBuildEditorConfig.editorconfig
ConsoleTest/obj/Debug/net5.0/ConsoleTest.genruntimeconfig.cache
ConsoleTest/obj/Debug/net5.0/ConsoleTest.pdb
ConsoleTest/obj/Debug/net5.0/ref/ConsoleTest.dll
MyCollections/bin/Debug/net5.0/MyCollections.deps.json
MyCollections/bin/Debug/net5.0/MyCollections.dll
MyCollections/bin/Debug/net5.0/MyCollections.pdb
MyCollections/bin/Debug/net5.0/ref/MyCollections.dll
MyCollections/obj/MyCollections.csproj.nuget.dgspec.json
MyCollections/obj/MyCollections.csproj.nuget.g.props
MyCollections/obj/MyCollections.csproj.nuget.g.targets
MyCollections/obj/project.assets.json
MyCollections/obj/project.nuget.cache
MyCollections/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
MyCollections/obj/Debug/net5.0/MyCollections.AssemblyInfo.cs
MyCollections/obj/Debug/net5.0/MyCollections.AssemblyInfoInputs.cache
MyCollections/obj/Debug/net5.0/MyCollections.assets.cache
MyCollections/obj/Debug/net5.0/MyCollections.csproj.AssemblyReference.cache
MyCollections/obj/Debug/net5.0/MyCollections.csproj.CoreCompileInputs.cache
MyCollections/obj/Debug/net5.0/MyCollections.csproj.FileListAbsolute.txt
MyCollections/obj/Debug/net5.0/MyCollections.csprojAssemblyReference.cache
MyCollections/obj/Debug/net5.0/MyCollections.dll
MyCollections/obj/Debug/net5.0/MyCollections.GeneratedMSBuildEditorConfig.editorconfig
MyCollections/obj/Debug/net5.0/MyCollections.pdb
MyCollections/obj/Debug/net5.0/ref/MyCollections.dll
.vscode/solution-explorer/class.cs-template
.vscode/solution-explorer/class.ts-template
.vscode/solution-explorer/class.vb-template
.vscode/solution-explorer/default.ts-template
.vscode/solution-explorer/enum.cs-template
.vscode/solution-explorer/interface.cs-template
.vscode/solution-explorer/interface.ts-template
.vscode/solution-explorer/template-list.json
.vscode/solution-explorer/template-parameters.js

.fake
.ionide